<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530838830069-s9ksq9iet7qkvh8gu5afod7uam3s9dr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530838830069-s9ksq9iet7qkvh8gu5afod7uam3s9dr1</string>
	<key>API_KEY</key>
	<string>AIzaSyDGIEEwHEM2GeP9PgW2qgUd6NJL3c5VxFE</string>
	<key>GCM_SENDER_ID</key>
	<string>530838830069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tk.monnaie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>argent-noir</string>
	<key>STORAGE_BUCKET</key>
	<string>argent-noir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530838830069:ios:9afc0eb054ce9de6b6febc</string>
</dict>
</plist>